@import "../../asset/scss/global";

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
    height: 100%;
    vertical-align: middle;
    background: url(https://cdn.dribbble.com/users/121405/screenshots/10038715/media/45278e79010bed50c060e66e453fc380.png);
    background-size: cover;
    background-position: bottom;
    // background-image: url("/background.jpg");
}

.greet-header {
    // padding-top: 3em;
    padding-bottom: 1em;
}

.role-box {
    padding: 1.5em !important;
}

.form-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#login-art-img {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.login-square {
    border-radius: 10px;
}

#login-section {
    background-color: white;
    height: 100%;
}

#login-art-container {
    padding-right: 0;
}

#btn-login {
    border: 0;
    background-color: $secondary-dark-color;
    color: "#FFF";
}