@import "../../asset/scss/global";

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
    height: 100%;
    vertical-align: middle;
    background: url(https://cdn.dribbble.com/users/121405/screenshots/10038715/media/45278e79010bed50c060e66e453fc380.png);
    background-size: cover;
    background-position: bottom;
	// background-color: $secondary-light-color;
	// background-image: url("/background.jpg");
}

.form-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#register-art-img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.register-square {
    border-radius: 10px;
}

#register-section {
    background-color: white;
}

#register-art-container {
    padding-left: 0;
    padding-right: 0;
}

#btn-register {
    border: 0;
    background-color: $secondary-dark-color;
    color: "#FFF";
}